---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
console.log("fdgdf");
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Posnet - Financiación</title>
  </head>
  <body>
    <main>
      <form>
        <label>
          <span> Precio de venta de contado </span>
          <input required />
        </label>
        <button>Calcular cuotas</button>
      </form>
      <h2 class="precio"></h2>
      <div class="results"></div>
    </main>
  </body>
</html>

<script>
  const $form = document.querySelector("form");
  const $precio = document.querySelector(".precio");
  const $results = document.querySelector(".results");

  const SISTEMAS = {
    posnet: "PosNet",
    bancos: "Bancos",
    cuota_simple: "Cuota Simple",
  };

  const urlPosnet =
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vRk6IZqqnmSDcuNEe5ymrviwG259ciagRbszQ-rl1I6wIsDEbwkQs1O67hvQZUNkGIdGcUYskbZyXhi/pub?gid=0&single=true&output=csv";

  const urlBancos =
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vRk6IZqqnmSDcuNEe5ymrviwG259ciagRbszQ-rl1I6wIsDEbwkQs1O67hvQZUNkGIdGcUYskbZyXhi/pub?gid=76171544&single=true&output=csv";

  const urlCuotaSimple =
    "https://docs.google.com/spreadsheets/d/e/2PACX-1vRk6IZqqnmSDcuNEe5ymrviwG259ciagRbszQ-rl1I6wIsDEbwkQs1O67hvQZUNkGIdGcUYskbZyXhi/pub?gid=773839087&single=true&output=csv";

  const indice = 100 / 97.822;

  const endpoints = [urlPosnet, urlBancos, urlCuotaSimple];

  let data_db = [];

  import { GET } from "./data.js";
  $form.addEventListener("submit", async (e) => {
    e.preventDefault();
    let response = await GET();
    const data = await response.json();
    console.log(data);
    const precio = Number(e.target[0].value);

    if (data_db.length === 0) {
      const promises = endpoints.map((ep) =>
        fetch(ep).then((res) => res.text())
      );

      const data_csv = await Promise.all(promises);

      data_csv.forEach((f_csv) => {
        const array = f_csv.split("\n");
        const sistema_name = array[0].split(",")[0].trim();

        const data = array.slice(2).map((row) => {
          const [cuotas, _td, coef_con_iva] = row.trim().split(",");
          return {
            cuotas: Number(cuotas),
            td: parseFloat(_td.replace("%", "")) / 100,
            coef_con_iva: Number(coef_con_iva),
          };
        });
        data_db.push({ sistema: sistema_name, data });
      });
    }

    const financiacion = [];

    data_db.forEach(({ sistema, data }) => {
      let divisor = 4;

      if (sistema === "cuota_simple") divisor = 2;

      const data_procesada = data.map(({ cuotas, td, coef_con_iva }) => {
        const precio_financiado =
          precio * coef_con_iva * indice + (precio * td) / divisor;
        const cuota = precio_financiado / cuotas;
        const descuento_td = precio_financiado * td;
        const iva_td = descuento_td * 0.21;
        const arancel = precio_financiado * 0.018;
        const iva_arancel = arancel * 0.21;
        const total_descuentos = descuento_td + iva_td + arancel + iva_arancel;
        const monto_a_percibir = precio_financiado - total_descuentos;

        return {
          td: td * 100,
          cuotas,
          cuota: cuota.toFixed(2),
          precio_financiado: precio_financiado.toFixed(2),
          descuento_td: descuento_td.toFixed(2),
          iva_td: iva_td.toFixed(2),
          arancel: arancel.toFixed(2),
          iva_arancel: iva_arancel.toFixed(2),
          total_descuentos: total_descuentos.toFixed(2),
          monto_a_percibir: monto_a_percibir.toFixed(2),
        };
      });

      financiacion.push({ sistema, data: data_procesada });
    });

    let _htmlString = "";

    financiacion.forEach(({ sistema, data }) => {
      _htmlString += `<div class="card">
						<h2>${SISTEMAS[sistema]}</h2>`;

      data.forEach(
        ({
          td,
          cuotas,
          cuota,
          precio_financiado,
          descuento_td,
          iva_td,
          arancel,
          iva_arancel,
          total_descuentos,
          monto_a_percibir,
        }) => {
          _htmlString += `<details name=${sistema}>
                            <summary>${cuotas} cuotas de $ ${cuota}<span class="precio-financiado">$ ${precio_financiado}</span>
                            </summary>
                            <div class="discounts">
                              <p>Tasa directa (${td}% s/precio financiado) <span>- $ ${descuento_td}</span></p>
                              <p>IVA (21% s/TD) <span>- $ ${iva_td}</span></p>
                              <p>Arancel (1.8% s/precio financiado) <span>- $ ${arancel}</span></p>
                              <p>IVA (21% s/arancel) <span>- $ ${iva_arancel}</span></p>
                              <p>Monto a percibir <span>$ ${monto_a_percibir}</span></p>
                            </div>
                          </details>`;
        }
      );
      _htmlString += "</div>";
    });
    $precio.textContent = `$ ${precio}`;
    $results.innerHTML = _htmlString;
  });
</script>

<style>
  :root {
    --color-posnet: rgb(255, 102, 0);
    --box-shadow-black: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(0, 0, 0) 0px 10px 15px -3px,
      rgb(0, 0, 0) 0px 4px 6px -4px;
  }

  body {
    font-family: "Montserrat Variable", sans-serif;
    background-color: #eee;
  }

  main {
    max-width: 1000px;
    margin-inline: auto;
    padding: 1rem;
  }

  form {
    padding: 1rem;
    border-radius: 4px;
    max-width: 500px;
    margin-inline: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    box-shadow: var(--box-shadow-black);

    & label {
      display: flex;
      flex-direction: column;
      column-gap: 0.5rem;

      & span {
        font-size: 0.75rem;
        padding-left: 0.25rem;
      }

      & input {
        background-color: #eee;
        padding: 0.5rem;
        border-radius: 4px;
        outline: none;
      }
    }

    & button {
      background-color: var(--color-posnet);
      padding: 0.5rem;
      border-radius: 4px;
    }
  }

  .precio {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
  }

  .results {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }
</style>

<style is:inline>
  .card {
    background-color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8rem;
    box-shadow: var(--box-shadow-black);

    & h2 {
      font-weight: 700;
      padding: 0.5rem;
    }
  }

  details {
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
    border-radius: 4px;

    transition: background-color 0.3s;

    &:is(:hover, :focus-visible) {
      background-color: #eee;
    }

    &[open] {
      background-color: #eee;
    }

    &:last-child {
      border-bottom: none;
    }

    & summary {
      cursor: pointer;

      & .precio-financiado {
        font-weight: bold;
        float: inline-end;
      }

      &::marker {
        color: var(--color-posnet);
      }
    }

    & .discounts {
      margin-top: 0.5rem;
      opacity: 0.8;

      & p {
        display: flex;
        justify-content: space-between;

        &:last-child {
          margin-top: 0.5rem;
        }
      }
    }
  }
</style>
