---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/calculadora-192.png" />
    <meta name="viewport" content="width=device-width" />
    <title>CalcuCuotas</title>
    <meta
      name="description"
      content="Calculadora de cuotas, intereses, tasas, impuestos, etc"
    />
    <meta name="theme-color" content="#ff6600" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <main>
      <form>
        <label>
          <span> Precio de venta de contado </span>
          <input required />
        </label>
        <button>Calcular cuotas</button>
      </form>
      <h2 class="precio"></h2>
      <div class="results"></div>
    </main>
  </body>
</html>

<script>
  const $form = document.querySelector("form");
  const $btn = document.querySelector("form button");
  const $precio = document.querySelector(".precio");
  const $results = document.querySelector(".results");

  if (window.BeforeInstallPromptEvent) {
    const $pwa_container = document.createElement("div");
    $pwa_container.classList.add("pwa");

    const $pwa_btn = document.createElement("button");
    $pwa_btn.classList.add("pwa-install");
    $pwa_btn.textContent = "Instalar App";

    const $pwa_btn_remove = document.createElement("button");
    $pwa_btn_remove.classList.add("pwa-install-remove");
    $pwa_btn_remove.innerHTML =
      '<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2l.324 .001l.318 .004l.616 .017l.299 .013l.579 .034l.553 .046c4.785 .464 6.732 2.411 7.196 7.196l.046 .553l.034 .579c.005 .098 .01 .198 .013 .299l.017 .616l.005 .642l-.005 .642l-.017 .616l-.013 .299l-.034 .579l-.046 .553c-.464 4.785 -2.411 6.732 -7.196 7.196l-.553 .046l-.579 .034c-.098 .005 -.198 .01 -.299 .013l-.616 .017l-.642 .005l-.642 -.005l-.616 -.017l-.299 -.013l-.579 -.034l-.553 -.046c-4.785 -.464 -6.732 -2.411 -7.196 -7.196l-.046 -.553l-.034 -.579a28.058 28.058 0 0 1 -.013 -.299l-.017 -.616c-.003 -.21 -.005 -.424 -.005 -.642l.001 -.324l.004 -.318l.017 -.616l.013 -.299l.034 -.579l.046 -.553c.464 -4.785 2.411 -6.732 7.196 -7.196l.553 -.046l.579 -.034c.098 -.005 .198 -.01 .299 -.013l.616 -.017c.21 -.003 .424 -.005 .642 -.005zm-1.489 7.14a1 1 0 0 0 -1.218 1.567l1.292 1.293l-1.292 1.293l-.083 .094a1 1 0 0 0 1.497 1.32l1.293 -1.292l1.293 1.292l.094 .083a1 1 0 0 0 1.32 -1.497l-1.292 -1.293l1.292 -1.293l.083 -.094a1 1 0 0 0 -1.497 -1.32l-1.293 1.292l-1.293 -1.292l-.094 -.083z" fill="currentColor" stroke-width="0" /></svg>';

    $pwa_container.append($pwa_btn);
    $pwa_container.append($pwa_btn_remove);

    let deferredPrompt;
    let choice = null;

    window.addEventListener("beforeinstallprompt", (e) => {
      console.log("bip");

      e.preventDefault();
      deferredPrompt = e;

      if (choice === "dismissed") return;
      document.body.append($pwa_container);
      setTimeout(() => $pwa_container.classList.add("show"), 5000);
    });

    $pwa_btn.addEventListener("click", async () => {
      deferredPrompt.prompt();
      const { outcome } = await deferredPrompt.userChoice;
      choice = outcome;
      deferredPrompt = null;
    });

    window.addEventListener("appinstalled", () => {
      deferredPrompt = null;
      $pwa_container.classList.remove("show");
    });

    $pwa_btn_remove.addEventListener("click", () => {
      $pwa_container.classList.remove("show");
    });
  }

  const SISTEMAS = {
    posnet: "PosNet",
    bancos: "Bancos",
    cuota_simple: "Cuota Simple",
  };

  const indice = 100 / 97.822;

  let data_db = [];

  $form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const precio = Number(e.target[0].value);

    if (data_db.length === 0) {
      $btn.textContent = "Calculando...";
      const response = await fetch("/data");

      const { data: data_csv } = await response.json();

      data_csv.forEach((f_csv) => {
        const array = f_csv.split("\n");
        const sistema_name = array[0].split(",")[0].trim();

        const data = array.slice(2).map((row) => {
          const [cuotas, _td, coef_con_iva] = row.trim().split(",");
          return {
            cuotas: Number(cuotas),
            td: parseFloat(_td.replace("%", "")) / 100,
            coef_con_iva: Number(coef_con_iva),
          };
        });
        data_db.push({ sistema: sistema_name, data });
      });
    }

    const financiacion = [];

    data_db.forEach(({ sistema, data }) => {
      let divisor = 4;

      if (sistema === "cuota_simple") divisor = 2;

      const data_procesada = data.map(({ cuotas, td, coef_con_iva }) => {
        const precio_financiado =
          precio * coef_con_iva * indice + (precio * td) / divisor;
        const cuota = precio_financiado / cuotas;
        const descuento_td = precio_financiado * td;
        const iva_td = descuento_td * 0.21;
        const arancel = precio_financiado * 0.018;
        const iva_arancel = arancel * 0.21;
        const total_descuentos = descuento_td + iva_td + arancel + iva_arancel;
        const monto_a_percibir = precio_financiado - total_descuentos;

        return {
          td: td * 100,
          cuotas,
          cuota: cuota.toFixed(2),
          precio_financiado: precio_financiado.toFixed(2),
          descuento_td: descuento_td.toFixed(2),
          iva_td: iva_td.toFixed(2),
          arancel: arancel.toFixed(2),
          iva_arancel: iva_arancel.toFixed(2),
          total_descuentos: total_descuentos.toFixed(2),
          monto_a_percibir: monto_a_percibir.toFixed(2),
        };
      });

      financiacion.push({ sistema, data: data_procesada });
    });

    let _htmlString = "";

    financiacion.forEach(({ sistema, data }) => {
      _htmlString += `<div class="card">
						<h2>${SISTEMAS[sistema]}</h2>`;

      data.forEach(
        ({
          td,
          cuotas,
          cuota,
          precio_financiado,
          descuento_td,
          iva_td,
          arancel,
          iva_arancel,
          total_descuentos,
          monto_a_percibir,
        }) => {
          _htmlString += `<details name=${sistema}>
                            <summary>${cuotas} cuotas de $ ${cuota}<span class="precio-financiado">$ ${precio_financiado}</span>
                            </summary>
                            <div class="discounts">
                              <p>Tasa directa (${td}% s/precio financiado) <span>- $ ${descuento_td}</span></p>
                              <p>IVA (21% s/TD) <span>- $ ${iva_td}</span></p>
                              <p>Arancel (1.8% s/precio financiado) <span>- $ ${arancel}</span></p>
                              <p>IVA (21% s/arancel) <span>- $ ${iva_arancel}</span></p>
                              <p>Monto a percibir <span>$ ${monto_a_percibir}</span></p>
                            </div>
                          </details>`;
        }
      );
      _htmlString += "</div>";
    });
    $btn.textContent = "Calcular cuotas";
    $precio.textContent = `$ ${precio}`;
    $results.innerHTML = _htmlString;
  });
</script>

<style>
  :root {
    --color-posnet: rgb(255, 102, 0);
    --box-shadow-black: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(0, 0, 0) 0px 10px 15px -3px,
      rgb(0, 0, 0) 0px 4px 6px -4px;
  }

  body {
    font-family: "Montserrat Variable", sans-serif;
    background-color: #eee;
  }

  main {
    max-width: 1000px;
    margin-inline: auto;
    padding: 1rem 1rem 2rem 1rem;
  }

  form {
    padding: 1rem;
    border-radius: 4px;
    max-width: 500px;
    margin-inline: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    box-shadow: var(--box-shadow-black);

    & label {
      display: flex;
      flex-direction: column;
      column-gap: 0.5rem;

      & span {
        font-size: 0.75rem;
        padding-left: 0.25rem;
      }

      & input {
        background-color: #eee;
        padding: 0.5rem;
        border-radius: 4px;
        outline: none;
      }
    }

    & button {
      background-color: var(--color-posnet);
      padding: 0.5rem;
      border-radius: 4px;
      font-weight: bold;
      font-size: 0.85rem;

      &:active {
        translate: 0 2px;
      }
    }
  }

  .precio {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
  }

  .results {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }
</style>

<style is:inline>
  .card {
    background-color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 0.8rem;
    box-shadow: var(--box-shadow-black);

    & h2 {
      font-weight: 700;
      padding: 0.5rem;
    }
  }

  details {
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
    border-radius: 4px;

    transition: background-color 0.3s;

    &:is(:hover, :focus-visible) {
      background-color: #eee;
    }

    &[open] {
      background-color: #eee;
    }

    &:last-child {
      border-bottom: none;
    }

    & summary {
      cursor: pointer;

      & .precio-financiado {
        font-weight: bold;
        float: inline-end;
      }

      &::marker {
        color: var(--color-posnet);
      }
    }

    & .discounts {
      margin-top: 0.5rem;
      opacity: 0.8;

      & p {
        display: flex;
        justify-content: space-between;

        &:last-child {
          margin-top: 0.5rem;
        }
      }
    }
  }

  .pwa {
    display: none;
    position: fixed;
    bottom: -0.5rem;
    left: 50%;
    translate: -50% 0;
    opacity: 0;
    transition:
      scale 0.3s,
      bottom 0.3s,
      opacity 0.3s,
      display 0.3s;
    transition-behavior: allow-discrete;

    &.show {
      display: block;
      bottom: 0.5rem;
      opacity: 1;

      @starting-style {
        bottom: -0.5rem;
        opacity: 0;
      }
    }

    &:is(:hover, :focus-within) {
      scale: 1.05;
    }

    &:active {
      translate: -50% 2px;
    }

    .pwa-install {
      font-size: 0.7rem;
      font-weight: bold;
      padding: 0.5rem 2rem;
      border-radius: 4px;
      box-shadow: var(--box-shadow-black);
      background-image: linear-gradient(
        to bottom right,
        black,
        var(--color-posnet),
        black
      );
    }

    .pwa-install-remove {
      position: absolute;
      top: 0;
      right: 0;
      translate: 50% -50%;
    }
  }
</style>
